fieldset {
  display: inline;
  vertical-align: top;
  max-width: 30%;
}


label {
  display: block;
  /*float: left;*/
}

form {
  margin: 2%;
}

aside {
  margin-bottom: 1em;
  clear: both;
}

.button {
  display: block;
}
 textarea {
   height: 5em;
   width: 100%
 }

h2 {
  font-size: 1em;
  margin: 0;
}

label:first-child {
  font-weight: bold;
}
.checkboxes label {
float: left;
}
