fieldset {
  display: inline;
  vertical-align: top;
  max-width: 30%;
}


label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%
}

form {
  margin: 2%;
}

aside {
  margin-bottom: 1em;
}

.button {
  display: block;
}
